body {
	background-color: #FFFFFF;
	font-family : Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	letter-spacing: 0px;
	color: black;
	text-align: left;
}

p {
	font-size: 10pt;
	margin-top: 20px;
	margin-bottom: 20px;
}


li {

	font-size: 10pt;
}

h1 {
	font-size: 14pt;
	font-weight: bold;
}

h2 { 
	font-size: 12pt;
	font-weight: bold;
}

.error {
	font-size: 10pt;
	font-weight: bold;
}

img {
	margin-bottom: 15px;
}