Source: shibboleth-sp2
Section: web
Priority: optional
Maintainer: Debian Shib Team <pkg-shibboleth-devel@lists.alioth.debian.org>
Uploaders: Russ Allbery <rra@debian.org>, Ferenc Wagner <wferi@niif.hu>
Build-Depends: debhelper (>= 5), autotools-dev, libxerces27-dev | libxerces28-dev, libsaml2-dev,
 libssl-dev, zlib1g-dev, liblog4cpp5-dev, apache2-threaded-dev, libxml-security-c-dev (>=1.4)
Standards-Version: 3.7.2

Package: libapache2-mod-shib2
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: apache2
Conflicts: libapache2-mod-shib
Description: Open source system for attribute-based Web SSO
 Shibboleth, a project of Internet2/MACE, is developing architectures,
 policy structures, practical technologies, and an open source
 implementation to support inter-institutional sharing of web resources
 subject to access controls. In addition, Shibboleth will develop a
 policy framework that will allow inter-operation within the higher
 education community.
 .
 This package contains the shibboleth runtime library and Apache module.

Package: libshib2-dev
Section: libdevel
Architecture: any
Depends: libapache2-mod-shib2 (= ${Source-Version})
Suggests: libshib2-doc (= ${Source-Version})
Description: Shibboleth development headers
 Shibboleth, a project of Internet2/MACE, is developing architectures,
 policy structures, practical technologies, and an open source
 implementation to support inter-institutional sharing of web resources
 subject to access controls. In addition, Shibboleth will develop a
 policy framework that will allow inter-operation within the higher
 education community.
 .
 This package contains the headers and other necessary files to build
 applications that use the shibboleth library.

Package: libshib2-doc
Section: doc
Architecture: all
Description: Shibboleth API Documentation
 Shibboleth Library API documentation generated by Doxygen.
