Source: shibboleth-sp2
Section: web
Priority: extra
Maintainer: Debian Shib Team <pkg-shibboleth-devel@lists.alioth.debian.org>
Uploaders: Russ Allbery <rra@debian.org>, Ferenc Wagner <wferi@niif.hu>
Build-Depends: debhelper (>= 5), autotools-dev, apache2-threaded-dev,
 doxygen, liblog4cpp5-dev, libxerces-c2-dev, libsaml2-dev,
 libssl-dev, zlib1g-dev, libxmltooling-dev, libxml-security-c-dev (>=1.4)
Standards-Version: 3.8.0
Homepage: http://shibboleth.internet2.edu
Vcs-Git: git://git.debian.org/git/pkg-shibboleth/shibboleth-sp2.git
Vcs-Browser: http://git.debian.org/?p=pkg-shibboleth/shibboleth-sp2.git

Package: libapache2-mod-shib2
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xmltooling-schemas, opensaml2-schemas
Recommends: apache2
Conflicts: libapache2-mod-shib
Description: Federated identity-based authentication and authorization system (runtime)
 Shibboleth, a project of Internet2/MACE, is developing architectures,
 policy structures, practical technologies, and an open source
 implementation to support inter-institutional sharing of web resources
 subject to access controls. In addition, Shibboleth will develop a
 policy framework that will allow inter-operation within the higher
 education community.
 .
 This package contains the Shibboleth runtime library and Apache module.

Package: libshib2-dev
Section: libdevel
Architecture: any
Depends: libapache2-mod-shib2 (= ${binary:Version}), libsaml2-dev
Suggests: libshib2-doc (= ${source:Version})
Description: Federated identity-based authentication and authorization system (development)
 Shibboleth, a project of Internet2/MACE, is developing architectures,
 policy structures, practical technologies, and an open source
 implementation to support inter-institutional sharing of web resources
 subject to access controls. In addition, Shibboleth will develop a
 policy framework that will allow inter-operation within the higher
 education community.
 .
 This package contains the headers and other necessary files to build
 applications that use the shibboleth library.

Package: libshib2-doc
Section: doc
Architecture: all
Description: Federated identity-based authentication and authorization system (API docs)
 Shibboleth, a project of Internet2/MACE, is developing architectures,
 policy structures, practical technologies, and an open source
 implementation to support inter-institutional sharing of web resources
 subject to access controls. In addition, Shibboleth will develop a
 policy framework that will allow inter-operation within the higher
 education community.
 .
 This package contains the Shibboleth library API documentation
 generated by Doxygen.
