#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

CFLAGS = -g
CXXFLAGS = -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
    DEBUG = --enable-debug
else
    DEBUG =
endif

# Tell Autoconf the correct system types.
DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
ifeq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
    SYSTEM = --build $(DEB_HOST_GNU_TYPE)
else
    SYSTEM = --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif

# These variable is used only by get-orig-source, which will normally only be
# run by maintainers.
DEBVERS := $(shell dpkg-parsechangelog | grep ^Version: | cut -d' ' -f2 \
		| cut -d- -f1)
VERSION := $(shell echo '$(DEBVERS)' | sed -e 's/[+-].*//' -e 's/~//g')
URL      = http://shibboleth.internet2.edu/downloads/shibboleth/cppsp

# Download the upstream source and do the repackaging that we have to do for
# DFSG reasons.  Depends on wget.
get-orig-source:
	wget $(URL)/$(VERSION)/shibboleth-sp-$(VERSION).tar.gz
	tar xfz shibboleth-sp-$(VERSION).tar.gz
	rm shibboleth-sp-$(VERSION).tar.gz
	rm shibboleth-$(VERSION)/schemas/WS-Trust.xsd
	mv shibboleth-$(VERSION) shibboleth-sp2_$(DEBVERS).orig
	tar cf shibboleth-sp2_$(DEBVERS).orig.tar \
	    shibboleth-sp2_$(DEBVERS).orig
	rm -r shibboleth-sp2_$(DEBVERS).orig
	gzip -9 shibboleth-sp2_$(DEBVERS).orig.tar

configure: configure-stamp
configure-stamp:
	dh_testdir
	cp /usr/share/misc/config.guess config.guess
	cp /usr/share/misc/config.sub config.sub
	rm -f libtool.m4
	libtoolize --force
	autoreconf --force
	rm -rf autom4te.cache
	CFLAGS="$(CFLAGS)" CXXFLAGS="$(CXXFLAGS)" ./configure --prefix=/usr \
	    --sysconfdir=/etc --libexecdir=/usr/lib/shibboleth \
	    --localstatedir=/var --enable-apache-22 \
	    --with-apxs2=/usr/bin/apxs2 --disable-dependency-tracking \
	    $(SYSTEM)
	touch $@

build: build-arch build-indep
build-arch: build-stamp
build-indep:
build-stamp: configure-stamp
	dh_testdir
	$(MAKE)
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f configure-stamp build-stamp install-stamp
	[ ! -f Makefile ] || $(MAKE) distclean
	find . -name Makefile.in -print0 | xargs -0r rm
	dh_clean aclocal.m4 config.h config.h.in config.status configure \
	    config.guess config.sub libtool.m4 ltmain.sh shibsp/paths.h \
	    debian/libapache2-mod-shib2.shibd.init

install: install-stamp
install-stamp:
	dh_testdir
	dh_testroot
	dh_prep
	$(MAKE) NOKEYGEN=1 DESTDIR=$(CURDIR)/debian/tmp install
	rm -r $(CURDIR)/debian/tmp/usr/share/doc/shibboleth*
	rm -r $(CURDIR)/debian/tmp/var/run
	rm $(CURDIR)/debian/tmp/etc/shibboleth/*.dist
	rm $(CURDIR)/debian/tmp/etc/shibboleth/*.config
	rm $(CURDIR)/debian/tmp/etc/shibboleth/shibd-osx.plist
	rm $(CURDIR)/debian/tmp/etc/shibboleth/shibd-redhat
	rm $(CURDIR)/debian/tmp/etc/shibboleth/shibd-suse
	chmod +x $(CURDIR)/debian/tmp/etc/shibboleth/keygen.sh
	mv $(CURDIR)/debian/tmp/etc/shibboleth/keygen.sh \
	    $(CURDIR)/debian/tmp/usr/sbin/shib-keygen
	mv $(CURDIR)/debian/tmp/etc/shibboleth/metagen.sh \
	    $(CURDIR)/debian/tmp/usr/bin/shib-metagen
	mv $(CURDIR)/debian/tmp/etc/shibboleth/shibd-debian \
	    $(CURDIR)/debian/libapache2-mod-shib2.shibd.init
	dh_installdirs -s -i
	mv $(CURDIR)/debian/tmp/usr/lib/shibboleth/mod_shib_22.so \
	    $(CURDIR)/debian/libapache2-mod-shib2/usr/lib/apache2/modules
	rm $(CURDIR)/debian/tmp/usr/lib/shibboleth/mod_shib_22.la
	pod2man $(CURDIR)/debian/man-pages/mdquery.pod --section 1 \
	    --center 'Shibboleth' --release $(VERSION) \
	    $(CURDIR)/debian/libapache2-mod-shib2/usr/share/man/man1/mdquery.1
	pod2man $(CURDIR)/debian/man-pages/resolvertest.pod --section 1 \
	    --center 'Shibboleth' --release $(VERSION) \
	    $(CURDIR)/debian/libapache2-mod-shib2/usr/share/man/man1/resolvertest.1
	pod2man $(CURDIR)/debian/man-pages/shib-metagen.pod --section 1 \
	    --center 'Shibboleth' --release $(VERSION) \
	    $(CURDIR)/debian/libapache2-mod-shib2/usr/share/man/man1/shib-metagen.1
	pod2man $(CURDIR)/debian/man-pages/shib-keygen.pod --section 8 \
	    --center 'Shibboleth' --release $(VERSION) \
	    $(CURDIR)/debian/libapache2-mod-shib2/usr/share/man/man8/shib-keygen.8
	pod2man $(CURDIR)/debian/man-pages/shibd.pod --section 8 \
	    --center 'Shibboleth' --release $(VERSION) \
	    $(CURDIR)/debian/libapache2-mod-shib2/usr/share/man/man8/shibd.8
	dh_install -s -i --fail-missing
	touch $@

binary: binary-arch binary-indep
binary-arch: DH_OPTIONS=-a
binary-arch: install-stamp
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs -A doc/NOTICE.txt
	dh_installinit --name=shibd
	dh_installlogcheck
	dh_strip
	dh_compress
	dh_fixperms
	DH_OPTIONS="" dh_makeshlibs -plibshibsp4
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: DH_OPTIONS=-i
binary-indep: install-stamp
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs -A doc/NOTICE.txt
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: binary binary-arch binary-indep build build-arch build-indep clean
.PHONY: install
